# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Node
frontend/node_modules/

.DS_store

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Django stuff:
*.log
*.pot
#backend/apps/public/migrations/*
#backend/settings/local_settings.py
#backend/img/*
#backend/db.sqlite3
#backend/settings/local_settings.py

# Sphinx documentation
docs/_build/

# PyCharm
.idea

staticfiles
