<div class="container">
    <!--<div logged-out>
        <login></login>
    </div>

    <!----><div ng-hide="session">
        <div login></div>
    </div>

    <div ng-show="session" class="center">
        <h1>Share your Favorite Place</h1>
        <h3>Add a place to your Placer profile, and share it with the world!</h3>

        <div class="mainform center">
            <form ng-submit="save()" enctype="multipart/form-data" class="form-register">
                    <input class="form-control form-group" id="eventName" type="text" ng-model="eventName" required="required" placeholder="Location Name">
                    <input class="form-control form-group" id="gpsLat" type="text" ng-model="gpsLat" placeholder="GPS Latitude: (ex: 37.235065)">
                    <input class="form-control form-group" id="gpsLng" type="text" ng-model="gpsLng" placeholder="GPS Longitude: (ex: -115.811117)">
                    <input class="form-control form-group" id="street" type="text" required="required" ng-model="street" placeholder="Street Address">
                    <input class="form-control form-group" id="city" type="text" required="required" ng-model="city" placeholder="City">
                    <input class="form-control form-group" id="state" type="text" required="required" ng-model="state" placeholder="State"> <!--
                <div class="ui-widget">
                  <label for="tags">Tags: </label>
                  <input id="tags">
                </div>-->
                    <input class="form-control form-group" id="country" type="text" required="required" ng-model="country" placeholder="Country">
                    <input class="form-control form-group" id="description" type="text" ng-model="description" required="required" placeholder="Description">
                    <input class="form-control form-group" id="totalCost" type="text" ng-model="totalCost" required="required" placeholder="Total Cost of the Event">
                    <input class="form-control form-group" id="participantCost" type="text" ng-model="participantCost" required="required" placeholder="Cost for each Participant">
                    <input class="form-control form-group" id="linkUrl" type="text" ng-model="linkUrl" placeholder="Link to the Event Website">
                <div class="form-group">
                    <input class="form-control" id="comments" value="nocomments" type="hidden" ng-model="comments">
                    <input class="form-control" id="voteCount" value="0" type="hidden" ng-model="voteCount">
                    <input class="form-control" id="user" value="testrobot" type="hidden" ng-model="user">
                    <!--
                    <input class="form-control" id="photos" value="http://www.placekitten.com/400/600" type="hidden" ng-model="photos">
                    -->
                </div>
                <div class="center">Do you want to sponsor this event?
                    <li class="no-decoration"><input type="checkbox" ng-model="value1"> Yes</li>
                </div>
                <div class="center">Is this event for Charity?
                    <li class="no-decoration"><input type="checkbox" ng-model="charity"> Yes</li>
                </div>
                <br/>
                    <input type="file" ng-model="photos" onchange="angular.element(this).scope().uploadFile(this.files)"/>
               <div>
                   <!--
                    <div class="dropzone" file-dropzone="[image/png, image/jpeg, image/gif]" file="image" file-name="imageFileName" data-max-file-size="3" onchange="angular.element(this).scope().uploadFile(this.files)">
                    </div>
                    <div class="image-container">
                        <img ng-src={{image}} />
                        <span class="file-name">{{imageFileName}}</span>
                    </div>
                </div>
                <input class="form-control" id="photos" value="{{imageFileName}}" type="hidden" ng-model="photos">
              <hr/>
                <!--
              <button ng-click="questionAdder(4)" class="btn btn-default">Add a Photo</button>
                 -->
              <hr/>
              <button type="submit" class="btn btn-success" value="Save">Create Location</button>
            </form>
        </div>
    </div>
</div>