<p>This is from the Specifics PAge</p> <!--
<div class="thumbnail">
    <img class="img-responsive" src="{{ photo_url }}" alt="">

    <div class="row caption-full">
        <div class="col-sm-1">
            <div class="center">
                <button type="button" class="btn btn-default-nobord btn-xs fullwidth" ng-click="countChoculaUp(location)"><span class="glyphicon glyphicon-chevron-up"></span></button><br/>
                <p class="votecount">{{location.voteCount}}</p><br/>
                <button type="button" class="btn btn-default-nobord btn-xs fullwidth" ng-click="countChoculaDown(location)"><span class="glyphicon glyphicon-chevron-down"></span></button><br/>
            </div>
        </div>

        <div class="col-sm-11">
            <h4><a href="#">{{ location.locationName }}</a>
            </h4>

            <p>{{ location.description }}</p>

            <div class="ratings">
               <p class="pull-right">{{ commentList.length }} Comments</p>
            </div>
        </div>

    </div>



    <div class="caption-full">
        <div class="row" ng-repeat="comment in commentList">
            <div class="col-md-12">
                <span class="pull-right">{{ comment.commentDate }}</span>
                <br>
                <br>
                <p>{{ comment.commentText }}</p>
                <br>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star-empty"></span>
                <p>{{ comment.username }}</p>
                <hr>

            </div>
        </div>
    </div>
</div>

<div>
    <div ng-show="session">
    <form ng-submit="save()" class="form-register">
        <div class="form-group">
            <input class="form-control" id="commentText" type="text" ng-model="commentText"
                   required="required" placeholder="Comment">
        </div>
        <div class="form-group">
            <input class="form-control" id="locationRating" value="0" type="hidden" ng-model="locationRating">
            <input class="form-control" id="user" value="testrobot" type="hidden" ng-model="user">
        </div>
        <hr/>
        <button type="submit" class="btn btn-success" value="Save">Create Comment</button>
    </form>
    </div>
</div>
-->