<div ng-controller="StripeController">
    <form action="" method="POST" id="payment-form">
        <span class="payment-errors"></span>
 <!--
        <div class="form-row">
            <label>
                <input type="text" size="20" ng-model="payment_type" placeholder="Card Number"/>
            </label> Gibberish
        </div>
-->
        <label> Register as a:
            <select ng-model="payment_type">
                <option value="Registration">Participant</option>
                <option value="Sponsor">Sponsor</option>
            </select>
        </label>

        <div ng-show="payment_type=='Sponsor'">
            <br/>
            How much do you want to pay towards sponsorship?
            <input type="text" placeholder="ex: $450" ng-model="enteredSponsorAmount" class="form-control form-group">
        </div>

        <br/>
        <br/>
        <div class="form-row">
            <p>Billing Info</p>
            <label>
                <input type="text" size="20" data-stripe="number" placeholder="Card Number" value="4242424242424242"/>
            </label>
        </div>

        <div class="form-row">
            <label>
                <input type="text" size="4" data-stripe="cvc" value="123"/>
                <span>CVC</span>
            </label>
        </div>

        <div class="form-row">
            <label>
                <input type="text" size="2" data-stripe="exp-month" placeholder="MM" value="05"/>
                <span> / </span>
                <input type="text" size="4" data-stripe="exp-year" placeholder="YYYY" value="2016"/>
                <span>Expiration</span>
            </label>

        </div>

        <br/>
        <button type="submit" class="btn btn-success">Submit Payment</button>
    </form>
</div>