<div class="container">
    <!--<div logged-out>
        <login></login>
    </div>
-->
    <div ng-hide="session">
        <div login></div>
    </div>
    <div ng-show="session">
        <h1>Howdy {{ user.username }}</h1>

        <div>
            <p>Checkout the Places you've posted</p>
        </div>
        <br/>

        <div class="bs-example">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>ID#</th>
                    <th>Place</th>
                    <th>Description</th>
                    <th>Date Created</th>
                    <th>Edit this Place</th>
                </tr>
                </thead>
                <tbody ng-repeat="location in myLocationList">

                    <tr>
                        <td>{{ location.id }}</td>
                        <td><a href="#/locationDetails/{{location.id}}">{{ location.locationName }}</a></td>
                        <td>{{ location.description }}</td>
                        <td>{{ location.datecreated }}</td>
                        <td><a href="#/editLocation/{{ location.id }}"><span class="glyphicon glyphicon-edit"></span><span class="glyphicon-class"> Edit</span></a></td>
                    </tr>

                </tbody>
            </table>
        </div>

    </div>
</div>