<div class="container">
    <!--<div logged-out>
        <login></login>
    </div> -->

    <!--<div ng-hide="session">
        <div login></div>
        ng-show="session"
    </div> -->
    <div class="center">
        <h1>Share your Favorite Place</h1>
        <h3>Add a place to your Placer profile, and share it with the world!</h3>

        <div>
            <form role="form" name="locationForm" ng-submit="addLocation()" ng-disabled="disabled" class="form-register">
                <div class="form-group">
                  <input type="text" name="location_name" ng-model="location.location_name" placeholder="Location name" required="required" class="form-control"/><span ng-show="hasError('location_name')">Location name is required</span><span ng-show="errorProposalName">{{ errorProposalName }}</span>
                </div>
                <div class="form-group">
                  <input type="text" name="address" ng-model="location.address" placeholder="Address" required="required" class="form-control"/><span ng-show="hasError('address')">An Address is required</span><span ng-show="errorAddress">{{ errorAddress }}</span>
                </div>
                <div class="form-group">
                  <input type="text" name="description" ng-model="location.description" placeholder="Description" required="required" class="form-control"/><span ng-show="hasError('description')">Description is required</span><span ng-show="errorDescription">{{ errorDescription }}</span>
                </div>



                <div class="center">Do you want to sponsor this place?
                    <br/>
                        <li class="no-decoration">
                            <input type="radio" name="location.sponsored" value="false" checked/> No
                        </li>
                        <li class="no-decoration">
                            <input type="radio" name="location.sponsored" value="true"/> Yes
                        </li>
                </div>

                <div ng-controller="DragnDropCtrl">
                    <div class="dropzone" file-dropzone="[image/png, image/jpeg, image/gif]"
                                  file="image" file-name="imageFileName" data-max-file-size="3">
                    </div>
                    <div class="image-container">
                        <img ng-src={{image}} />
                        <span class="file-name">{{imageFileName}}</span>
                    </div>
                </div>
              <hr/>

              <button ng-click="questionAdder(4)" class="btn btn-default">Add a Photo</button>
              <hr/>
              <button type="submit" class="btn btn-success">Create Location</button>&nbsp;<a href="/">
                <button type="button" class="btn btn-primary">Cancel</button></a>
            </form>
        </div>
    </div>
</div>