<div class="container">
    <!--<div logged-out>
        <login></login>
    </div>

    <!----><div ng-hide="session">
        <div login></div>
    </div>

    <div ng-show="session" class="center">
        <h1>Share your Favorite Place</h1>
        <h3>Add a place to your Placer profile, and share it with the world!</h3>

        <div class="mainform center">
            <form ng-submit="save()" enctype="multipart/form-data" class="form-register">
                    <input class="form-control form-group" id="locationName" type="text" ng-model="locationName" required="required" placeholder="Location Name">
                    <input class="form-control form-group" id="gps" type="text" ng-model="gps" placeholder="GPS Coordinates: 37.235065, -115.811117">
                    <input class="form-control form-group" id="street" type="text" required="required" ng-model="street" placeholder="Street Address">
                    <input class="form-control form-group" id="city" type="text" required="required" ng-model="city" placeholder="City">
                    <input class="form-control form-group" id="state" type="text" required="required" ng-model="state" placeholder="State">
                    <input class="form-control form-group" id="country" type="text" required="required" ng-model="country" placeholder="Country">
                    <input class="form-control form-group" id="description" type="text" ng-model="description" required="required" placeholder="Description">
                <div class="form-group">
                    <input class="form-control" id="comments" value="nocomments" type="hidden" ng-model="comments">
                    <input class="form-control" id="voteCount" value="0" type="hidden" ng-model="voteCount">
                    <input class="form-control" id="user" value="testrobot" type="hidden" ng-model="user">
                    <!--
                    <input class="form-control" id="photos" value="http://www.placekitten.com/400/600" type="hidden" ng-model="photos">
                    -->
                </div>
                <div class="center">Do you want to sponsor this place?
                    <li class="no-decoration"><input type="checkbox" ng-model="value1"> Yes</li>
                </div>
                <br/>
                    <input id="photos" type="file" ng-model="photos" required="required" onchange="angular.element(this).scope().uploadFile(this.files)"/>
               <div>
                   <!--
                    <div class="dropzone" file-dropzone="[image/png, image/jpeg, image/gif]" file="image" file-name="imageFileName" data-max-file-size="3" onchange="angular.element(this).scope().uploadFile(this.files)">
                    </div>
                    <div class="image-container">
                        <img ng-src={{image}} />
                        <span class="file-name">{{imageFileName}}</span>
                    </div>
                </div>
                <input class="form-control" id="photos" value="{{imageFileName}}" type="hidden" ng-model="photos">
              <hr/>
<!--
              <button ng-click="questionAdder(4)" class="btn btn-default">Add a Photo</button>
         -->
              <hr/>
              <button type="submit" class="btn btn-success" value="Save">Create Location</button>
            </form>
        </div>
    </div>
</div>