<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-2 pull-left">
            <img src="img/logo.png" class="img-responsive center" alt="Placer Logo"/>
        </div>
        <div class="col-sm-10 col-xs-12 pull-right">
            <h1 class="homeh1">Welcome to Placer</h1>
            <h3>Find awesome places that you never knew existed!</h3>
            <p>Learn about interesting places near you, share your favorite hidden gems and start exploring new things today!</p>
            <br/>
        </div>
    </div>
    <br/>
    <br/>
    <div class="row">
        <div class="filterbox col-sm-3 pull-left">
            <h3>Filter Places</h3>
            <hr/>
            <form class="navbar-form center" role="form">
                <div class="form-group">
                    <input type="text" placeholder="Search" class="form-control">
                </div>
            </form>
            <br/>
            <h4>Sort by Proximity</h4>
            <form class="navbar-form center" role="form">
                <div class="form-group">
                    <input type="text" placeholder="I live in..." class="form-control formresize">
                </div>
                <select class="form-control">
                  <option>5 miles</option>
                  <option>10 miles</option>
                  <option>50 miles</option>
                  <option>100 miles</option>
                </select>
            </form>
            <!--
            <h4>Sort by Date Posted</h4>
            <input type="text" placeholder="Start Date" id="datepicker">
            <input type="text" placeholder="End Date" id="datepicker">
            -->
            <br/><br/>
        </div>
        <div class="pinlist col-sm-9 pull-right">
            <div id="columns">
                <div class="pin" ng-repeat="location in locationList">
                    <div class="image">
                        <a href="#/locationDetails/{{location.id}}"><img src={{location.photos}}></a>
                    </div>
                    <h3 class="title btn-success">{{ location.locationName }}</h3>
                    <div class="padding15">

                        <p>{{ location.description }}</p>
                        <span>
                            <a ng-click="upCount = upCount + 1" ng-init="upCount=location.upVoteCount" class="btn btn-success"><div class="glyphicon glyphicon-thumbs-up">{{upCount}}</div></a>
                            <a ng-click="downCount = downCount - 1" ng-init="downCount=location.downVoteCount" class="btn btn-danger"><div class="glyphicon glyphicon-thumbs-down">{{downCount}}</div></a>
                        </span>
                    </div>
                </div>
             </div>
        </div>
    </div>


        </div>
</div>
