<div class="container">
    <!--<div logged-out>
        <login></login>
    </div>

    <div ng-hide="session">
        <div login></div>
    </div>-->
    <div class="row">
        <div class="col-xs-12 col-sm-2 pull-left">
            <img src="img/logo.png" class="img-responsive center" alt="Placer Logo"/>
        </div>
        <div class="col-sm-10 col-xs-12 pull-right">
            <h1 class="homeh1">Welcome to Placer</h1>

            <h3>Find awesome places that you never knew existed!</h3>

            <p>Learn about interesting places near you, share your favorite hidden gems and start exploring new things
                today!</p>
            <br/>
        </div>
    </div>
    <br/>
    <br/>

    <div class="row">
        <div class="filterbox col-sm-3 pull-left">
            <h3>Filter Places</h3>
            <hr/>
            <form class="navbar-form center" role="form">
                <div class="form-group">
                    <input type="text" ng-model="searchText" placeholder="Search" class="form-control">
                </div>
            </form>
            <br/>
            <a href="" class="btn btn-success center" ng-click="predicate = 'upVoteCount'; reverse=!reverse">Sort by
                Votes</a></a>
            <br/>


            <a href="" class="btn btn-info center" ng-click="predicate = 'datecreated'; reverse=!reverse">Sort by Date Posted</a></a>
            <br/>

            <form class="navbar-form center" role="form">
                <div class="form-group">
                    <input type="text" placeholder="Find places near.." class="form-control formresize">
                </div>
                <select class="form-control">
                    <option>5 miles</option>
                    <option>10 miles</option>
                    <option>50 miles</option>
                    <option>100 miles</option>
                </select>
            </form>
            <!--
            <h4>Sort by Date Posted</h4>
            <input type="text" placeholder="Start Date" id="datepicker">
            <input type="text" placeholder="End Date" id="datepicker">
            -->
            <br/><br/>
        </div>
        <div class="pinlist col-sm-9 pull-right">
            <div id="columns">
                <div class="pin" ng-repeat="location in locationList | filter:searchText | orderBy:predicate:reverse">
                    <a href="#/locationDetails/{{ location.id }}">
                        <div class="image">
                            <img src="{{ location.photo_url }}">
                        </div>
                        <h3 class="title btn-success">{{ location.locationName }}</h3>

                        <div class="padding15">
                            <p>{{ location.description }}</p>
                        </div>
                    </a>
                    <div class="pininfo">
                        <div class="pull-left">

                            <a ng-click="countChoculaUp(location)" ng-init="upCount=location.upVoteCount" class=""><div class="glyphicon glyphicon-thumbs-up"></div></a>{{location.upVoteCount}}<br/>
                            <a ng-click="countChoculaDown(location)" ng-init="downCount=location.downVoteCount" class=""><div class="glyphicon glyphicon-thumbs-down"></div></a>{{location.downVoteCount}}

                        </div>
                        <div class="pull-right">
                            <p>{{ userList[location.user -1].username }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
