<div class="container">
    <h1>Welcome to Placer</h1>

    <h3>Find awesome places that you never knew existed!</h3>
    <br/>
    <br/>

    <div>
        This is the Apps default content, should change based on the user's authentication status.
        <br/>

        <!--<div logged-out>
            <login></login>
        </div>

        <div ng-hide="session">
            <div login></div>
        </div>

        <div ng-show="session">
            <h1>Placer | Travel App</h1>
        </div> -->

    </div>
    <div id="wrapper">
        <div id="columns">
            <div class="pin" ng-repeat="location in locationList">
                <div class="image">
                    <a href="#/locationDetails/{{location.id}}"><img src={{location.photos}}></a>
                </div>
                <h3 class="title btn-success">{{ location.locationName }}</h3>
                <div class="padding15">

                    <p>{{ location.description }}</p>
                    <span>
                        <a ng-click="upCount += 1" ng-init="upCount=location.upVoteCount" class="btn btn-success"><div class="glyphicon glyphicon-thumbs-up">{{upCount}}</div></a>
                        <a ng-click="downCount = downCount - 1" ng-init="downCount=location.downVoteCount" class="btn btn-danger"><div class="glyphicon glyphicon-thumbs-down">{{downCount}}</div></a>
                    </span>
                </div>
            </div>
         </div>
    </div>

        <hr>

        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright 2014</p>
                </div>
            </div>
        </footer>
        </div>
</div>
