<div class="container">

    <div class="row">

        <div class="col-md-3">
            <div class="list-group">
                <a href="#" class="list-group-item active">See Map</a>
                <a href="#" class="list-group-item">Get Directions</a>
                <a href="#" class="list-group-item">Find Similar Locations</a>
            </div>
        </div>
        <div class="col-md-9">
            <div class="thumbnail">
                <img class="img-responsive" src="{{ photo_url }}" alt="">

                <div class="caption-full">
                    <h4><a href="#">{{ location.locationName }}</a>
                    </h4>

                    <p>{{ location.description }}</p>
                    <span>
                        <a ng-click="countChoculaUp(location)" ng-init="upCount=location.upVoteCount" class=""><div class="glyphicon glyphicon-thumbs-up"></div></a>{{location.upVoteCount}}
                        <a ng-click="countChoculaDown(location)" ng-init="downCount=location.downVoteCount" class=""><div class="glyphicon glyphicon-thumbs-down"></div></a>{{location.downVoteCount}}
                    </span>
                </div>

                <div class="ratings">
                   <p class="pull-right">{{ commentList.length }} reviews</p>

                    <p>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star-empty"></span>
                        4.0 stars
                    </p>
                    <br>
                    <hr>
                </div>

                <div class="caption-full">
                    <div class="row" ng-repeat="comment in commentList">
                        <div class="col-md-12">
                            <span class="pull-right">{{ comment.commentDate }}</span>
                            <br>
                            <br>
                            <p>{{ comment.commentText }}</p>
                            <br>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                            <p>{{ comment.user.username }}</p>
                            <hr>

                        </div>
                    </div>
                </div>
            </div>

            <div>
                <div ng-show="session">
                <form ng-submit="save()" class="form-register">
                    <div class="form-group">
                        <input class="form-control" id="commentText" type="text" ng-model="commentText"
                               required="required" placeholder="Comment">
                    </div>
                    <div class="form-group">
                        <input class="form-control" id="locationRating" value="0" type="hidden" ng-model="locationRating">
                        <input class="form-control" id="user" value="testrobot" type="hidden" ng-model="user">
                    </div>
                    <hr/>
                    <button type="submit" class="btn btn-success" value="Save">Create Comment</button>
                </form>
                </div>
            </div>
        </div>

        <hr>


    </div>

</div>

