/* app css stylesheet */
body {
    padding-bottom: 20px;
    padding-top: 70px;
    background: url(../img/travelappbg_mini.jpg) no-repeat bottom;
    height: 100%;
    background-attachment: fixed;
}

.btn-primary {
    background-color: #222222;
    color: #999999;
}

.btn-primary:hover {
    color: #ffffff;
    background-color: #222222;
    border-color: #222222;
}

.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    color: #999999;
    background-color: #222222;
    border-color: #222222;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}

.form-signin .checkbox {
    font-weight: normal;
}

.form-signin .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input[type="text"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.bs-callout-info {
    background-color: #dff0d8;
    border-color: #666666;
    margin-top: 70px;
}

#wrapper {
	width: 90%;
	max-width: 1100px;
	min-width: 800px;
	margin: 50px auto;
}

#columns {
	-webkit-column-count: 3;
	-webkit-column-gap: 10px;
	-webkit-column-fill: auto;
	-moz-column-count: 3;
	-moz-column-gap: 10px;
	-moz-column-fill: auto;
	column-count: 3;
	column-gap: 15px;
	column-fill: auto;
}

.pin {
	display: inline-block;
	background: #FEFEFE;
	border: 2px solid #FAFAFA;
	box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
	margin: 0 2px 15px;
	-webkit-column-break-inside: avoid;
	-moz-column-break-inside: avoid;
	column-break-inside: avoid;
	padding-bottom: 5px;
	background: -webkit-linear-gradient(45deg, #FFF, #F9F9F9);
	opacity: 1;

	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-o-transition: all .2s ease;
	transition: all .2s ease;
}
.pin .padding15{
    padding: 15px;
}
.pin .image{

}
.pin h3{
    color: #ffffff;
    background-color: #222222;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 0px;
}
.pin img {
	width: 100%;
	/*border-bottom: 1px solid #ccc;*/
	/*padding-bottom: 15px;
	margin-bottom: 5px;*/
}

.pin p {
	font: 12px/18px Arial, sans-serif;
	color: #333;
	margin: 0;
}

@media (min-width: 960px) {
	#columns {
		-webkit-column-count: 4;
		-moz-column-count: 4;
		column-count: 4;
	}
}

@media (min-width: 1100px) {
	#columns {
		-webkit-column-count: 5;
		-moz-column-count: 5;
		column-count: 5;
	}
}

/*#columns:hover .pin:not(:hover) {*/
	/*opacity: 0.4;*/
/*}*/

.thumbnail img {
  width: 100%;
}

.ratings {
  color: #d17581;
  padding-left: 10px;
  padding-right: 10px;
}

.thumbnail {
  padding: 0;
}

.thumbnail .caption-full {
  padding: 9px;
  color: #333;
}

.footer {
  padding: 20px;
  background-color: #222222;
  border-top: 1px #ffffff;
  color: aliceblue;
  margin-top: 200px;
}

.title {
    text-align: center
}
.no-decoration{
    list-style: none;
    display: inline;
    margin-left: 30px;
}
.center{
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.dropzone {
  width: 622px;
  height: 317px;
  border: 1px solid #ccc;
  text-align: center;
  padding: 30px;
  margin: 20px;
  font-family: Arial;
  background-image: url(../img/dragndrop.jpg);
}

.image-container {
    width: auto;
    height: auto;
}

.image-container img {
   max-width: 100%;
}

.file-name {
   font-family: Arial;
}
.filterbox {
    background-color: #222222;
    opacity: 0.7;
    color: aliceblue;
}
.pinlist{

}
.formresize{
    width: 160px;
}
.stick {
    position:fixed;
    top:70px;
}
.homeh1{
    font-family: 'Love Ya Like A Sister', cursive;
    font-size: 45pt;
    color: #68a743;
}
.homeh4{
    font-family: 'Love Ya Like A Sister', cursive;
    font-size: 30pt;
    color: #68a743;
}